snippet \fr "frac{}{}" iA
\frac{$1}{}
endsnippet

snippet \ep "epsilon" iA
\epsilon
endsnippet

snippet \pa "partial" iA
\partial
endsnippet

snippet \rh "rho" iA
\rho
endsnippet

snippet \le "left right" i 
\left$1\right
endsnippet

snippet \th "theta" iA
\theta
endsnippet

snippet \sig "sigma" iA
\sigma
endsnippet

snippet \Sig "Sigma" iA
\Sigma
endsnippet

snippet \be "begin" iA
\begin{$1}

\end{$1}
endsnippet

snippet \la "lambda" iA
\lambda
endsnippet


snippet \na "nabla" iA
\nabla
endsnippet

snippet \Om "Omega" iA
\Omega
endsnippet

snippet \om "omega" iA
\omega
endsnippet

snippet \ope "operatorname" iA
\operatorname{$1}
endsnippet

snippet \opl "oplus" iA
\oplus
endsnippet


snippet \mabb "mathbb" iA
\mathbb{$1}
endsnippet


snippet \mas "mathscr" iA
\mathscr{$1}
endsnippet

snippet \mac "mathcal" iA
\mathcal{$1}
endsnippet

snippet \mabf "mathbf" iA
\mathbf{$1}
endsnippet

snippet \maf "mathfrak" iA
\mathfrak{$1}
endsnippet

snippet \cd "cdot" iA
\cdot
endsnippet

snippet \ga "gamma" iA
\gamma
endsnippet

snippet \Ga "Gamma" iA
\Gamma
endsnippet

snippet \al "alpha" iA
\alpha
endsnippet

snippet \til "tilde" iA
\tilde{$1}
endsnippet

snippet \Ve "Vert" iA
\Vert{$1}\Vert
endsnippet

snippet \ve "vert" iA
\vert{$1}\vert
endsnippet

snippet \de "delta" iA 
\delta
endsnippet

snippet \De "Delta" iA
\Delta
endsnippet

snippet \setmi "setminus" iA
\setminus
endsnippet

snippet \Lefta "Leftarrow" iA
\Leftarrow
endsnippet

snippet \Righta "Rightarrow" iA
\Rightarrow
endsnippet

snippet \Leftr "Leftrightarrow" iA
\Leftrightarrow
endsnippet

snippet \fora "forall" iA
\forall
endsnippet

snippet \exi "exists" iA
\exists
endsnippet

snippet \tim "times" iA
\times
endsnippet

snippet \inft "infty" iA
\infty
endsnippet

snippet \sub "subset" iA
\subset
endsnippet

snippet \suq "suqset" iA
\supset
endsnippet
