snippet \fr "frac{}{}" iA
\frac{$1}{}
endsnippet

snippet \ep "epsilon" iA
\epsilon
endsnippet

snippet \pa "partial" iA
\partial
endsnippet

snippet \rh "rho" iA
\rho
endsnippet

snippet \le "left right" A
\left$1\right
endsnippet

snippet \th "theta" iA
\theta
endsnippet

snippet \si "sigma" iA
\sigma
endsnippet

snippet \Si "Sigma" iA
\Sigma
endsnippet

snippet \be "begin" iA
\begin{$1}

\end{$1}
endsnippet

snippet \la "lambda" iA
\lambda
endsnippet


snippet \na "nabla" iA
\nabla
endsnippet

snippet \Om "Omega" iA
\Omega
endsnippet

snippet \om "omega" iA
\omega
endsnippet

snippet \op "operatorname" iA
\operatorname{$1}
endsnippet

snippet \mabb "mathbb" iA
\mathbb{$1}
endsnippet

snippet \mas "mathscr" iA
\mathscr{$1}
endsnippet

snippet \mac "mathcal" iA
\mathcal{$1}
endsnippet

snippet \mabf "mathbf" iA
\mathbf{$1}
endsnippet

snippet \maf "mathfrak" iA
\mathfrak{$1}
endsnippet

snippet \cd "cdot" iA
\cdot
endsnippet

snippet \ga "gamma" iA
\gamma
endsnippet

snippet \Ga "Gamma" iA
\Gamma
endsnippet

snippet \al "alpha" iA
\alpha
endsnippet

snippet \ti "tilde" iA
\tilde{$1}
endsnippet

snippet \Ve "Vert" iA
\Vert{$1}\Vert
endsnippet

snippet \ve "vert" iA
\vert{$1}\vert
endsnippet

snippet \de "delta" iA 
\delta
endsnippet

snippet \De "Delta" iA
\Delta
endsnippet
