snippet \fr "frac{}{}" i
\frac{$1}{}
endsnippet


snippet \ep "epsilon" i
\epsilon
endsnippet

snippet \pa "partial" i
\partial
endsnippet

snippet \rh "rho" i
\rho
endsnippet

snippet \le "left right" i
\left$1\right
endsnippet

snippet \th "theta" i
\theta
endsnippet

snippet \si "sigma" i
\sigma
endsnippet

snippet \be "begin" i
\begin{$1}

\end{$1}
endsnippet

snippet \la "lambda" i
\lambda
endsnippet


snippet \na "nabla" i
\nabla
endsnippet

snippet \Om "Omega" i
\Omega
endsnippet

snippet \om "omega" i
\omega
endsnippet

snippet \op "operatorname" i
\operatorname{$1}
endsnippet

snippet \mabb "mathbb" i
\mathbb{$1}
endsnippet

snippet \mas "mathscr" i
\mathscr{$1}
endsnippet

snippet \mac "mathcal" i
\mathcal{$1}
endsnippet

snippet \mabf "mathbf" i
\mathbf{$1}
endsnippet

snippet \maf "mathfrak" i
\mathfrak{$1}
endsnippet

snippet \cd "cdot" i
\cdot
endsnippet
